/* index.css */

/* Google Fonts Noto Sans KR 불러오기 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* Tailwind import*/
@import "tailwindcss";

/* 글로벌 폰트 적용 */
@layer base {
  html {
    font-family: "Noto Sans KR", system-ui, sans-serif;
  }

  /* 스크롤바 숨기기 (크로스 브라우저) */
  body {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
